
// primary Color
$pOrange: hsl(26, 100%, 55%);
$pPaleOrange: hsl(25, 100%, 94%);

//neutral Color
$nVeryVarkBlue: hsl(220, 13%, 13%);
$nDarkGrayishBlue: hsl(219, 9%, 45%);
$nGrayishBlue: hsl(220, 14%, 75%);
$nLightGrayishBlue: hsl(223, 64%, 98%);
$nWhite: hsl(0, 0%, 100%);

$lightbox : hsla(0, 0%, 0%, 0.75);

$fontsizeParagraph: 16px;

$font-family: 'Kumbh Sans', sans-serif;